[Desktop Entry]
Type=Application
Name=DropStrike
GenericName=Ground Control Station
Comment=DropStrike Ground Control Station
Icon=dropstrike
Exec=dropstrike-start.sh
Terminal=false
Categories=Utility;
