[Desktop Entry]
Type=Application
Name=DropStrike
GenericName=DropStrike
Comment=ground control station
Icon=CustomAppIcon
Exec=qgroundcontrol-start.sh
Terminal=false
Categories=Utility;
