[Desktop Entry]
Type=Application
Name=DropStrike
GenericName=DropStrike Ground Control Station
Comment=DropStrike Ground Control Station
Icon=DropStrikeAppIcon
Exec=qgroundcontrol-start.sh
Terminal=false
Categories=Utility;
